@charset "utf-8";

  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  ul, li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
  }
  
  .bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .bt_wrap a:hover {
    text-decoration: underline;
  }
  
  .bt_wrap a.on {
    background: #000;
    color: #fff;
  }

  /* index.html */

 .wrap {
    width: 1000px;
    margin: 0 auto;
  }
  
  .board_list {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    font-size: 1.5rem;
  }
  
  .board_list caption {
    padding: 30px;
  }
  
  .board_list th, td {
    border-spacing: 0;
    border-bottom: 1px solid #444;
    padding: 10px;
    text-align: center;
  }
  .board_list td.title > a:hover {
    text-decoration: underline;
  }
  
  .board_page {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    /* border, padding을 포함해서 만들어줌 */
    box-sizing: border-box;
    border-left: 0;
    line-height: 32px;
  }
  
  .board_page a:hover {
    text-decoration: underline;
  }
  
  .board_page a.bt {
    font-size: 1.2rem;
    letter-spacing: -1px;
  }
  
  .board_page a.num {
    font-size: 1.4rem;
  }
  
  /* a에서 num을 가진 on을 가진 */
  .board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
  }

  @media all and (max-width: 767px) {
    .wrap {
      width: 95vw;
      /* =95%, 미디어 안에는 바꾸고 싶은 속성만 써주면 된다. */
    }
    
    .board_list th:nth-of-type(1),
    .board_list td:nth-of-type(1) {
      display: none;
    }
    
    .board_list th:nth-of-type(3),
    .board_list td:nth-of-type(3) {
      display: none;
    }
    
    .board_list th:nth-of-type(4),
    .board_list td:nth-of-type(1) {
      display: none;
    }
    
    .board_list th:nth-of-type(1),
    .board_list td:nth-of-type(1) {
      display: none;
    }

    }








