@charset "utf-8"

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.bt_wrap {
margin-top: 30px;
text-align: center;
font-size: 0;
}

.bt_wrap a {
 display: inline-block;
 min-width: 80px;
 margin-left: 10px;
 border: 1px solid black;
 text-align: center;
 font-size: 1.4rem; 
 padding: 10px;
}

.bt_wrap a:hover {
  text-decoration: underline;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}

/* index */

.wrap {
width: 1000px;
margin: 0 auto;
}

.board_list {
  width: 100%;
  border-top: 1px solid black;
  /* border-collapse: collapse; */
  font-size: 1.5rem;
}

.board_list caption {
  padding: 30px;
}

.board_list th, td {
  border-spacing: 0;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

.board_list td.title > a:hover {
  text-decoration: underline;
}

.board_page {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
}

.board_page a:hover {
  text-decoration: underline;
}

.board_page a.bt {
  font-size: 1.2rem;
  /* letter-spacing: -1px; */
}

.board_page a.num {
  font-size: 1.4rem;
}

.board_page a.num.on {
  background: #000;
  border-color: #000;
  color: #fff;
}



